body {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1216px;
    margin: 0 auto;
}

.ibm-plex-sans-uniquifier {
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.manrope-uniquifier {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-first {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-h2 {
    font-family: IBM Plex Sans;
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #009661;
}

.language {
    border: 0;
    font-family: Manrope;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #252525;
}

.header-txt {
    font-family: Manrope;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #252525;
    text-decoration: none;
}

.header-btn {
    font-family: Manrope;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-decoration: none;
    background: none;
    cursor: pointer;
    border: 0;
    color: #009661;
}

.header-btns {
    display: flex;
    align-items: center;
    gap: 32px;
}

.profile-menu {
    position: relative;
    display: inline-block;
    font-family: Arial, sans-serif;
}

.menu-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    min-width: 233px;
    box-shadow: 0px 10px 50px 0px #8B959E33;
    border-radius: 8px;
    z-index: 1;
    overflow: hidden;
}

.menu-content-a {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    color: #8B959E;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
}

.menu-content-a-green {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    color: #009661;
}

.menu-content-a:hover {
    background-color: #f5f7f8;
    color: #333;
}

.profile-menu:hover .menu-content {
    display: block;
}

.header-btn-2 {
    border-radius: 4px;
    padding: 16px 32px;
    background: #4689660F;
    border: 0;
    cursor: pointer;
}

.header-btn-2-txt {
    font-family: Manrope;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #009661;
    text-decoration: none;
}

.navigation {
    display: flex;
    gap: 20px;
    padding-top: 31px;
}

.navigation-txt {
    font-family: Manrope;
    font-weight: 500;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0%;
    color: #8B959E;
    text-decoration: none;
}

.navigation-txt-2 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #252525;
    text-decoration: none;
}

.main {
    background: #8B959E0D;
}

.full-card-car {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.full-card-car-imgs {
    display: grid;
    gap: 20px;
}

.full-card-car-img-little {
    display: flex;
    gap: 20px;
}

.full-card-car-info {
    background: #FFFFFF;
    padding: 10px 24px 24px 24px;
    border-radius: 8px;
}

.full-card-car-info-h2 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #252525;
}

.full-card-car-info-p {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #8B959E;
}

.full-card-car-info-line {
    background: #E8E9E8;
    width: 447px;
    height: 1px;
}

.full-card-car-info-minis {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

.full-card-car-info-mini-h2 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #8B959E;
    padding-top: 13px;
}

.full-card-car-info-mini-p {
    font-family: Manrope;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #252525;
    margin: 0;
}

.full-card-car-info-h2-a {
    margin: 0;
    margin-top: 24px;
}

.full-card-car-info-a {
    font-family: Manrope;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #009661;
    text-decoration: none;
}

.full-card-car-info-2 {
    background: #FFFFFF;
    padding: 34px 24px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.full-card-car-info-2-txt {
    font-family: Manrope;
    font-weight: 500;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #009661;
}

.full-card-car-info-2-btn {
    border-radius: 4px;
    padding: 16px 32px;
    background: #009661;
    cursor: pointer;
    border: 0;
}

.full-card-car-info-2-btn-txt {
    font-family: Manrope;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.review-h2 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #252525;
    padding-top: 60px;
}

.review-cards {
    display: flex;
}

.review-card-1 {
    width: 285px;
    border-radius: 8px;
    background: rgba(139, 149, 158, 0.05);
    padding: 16px 0 16px 24px;
    align-items: center;
}

.review-card-2 {
    width: 285px;
    border-radius: 8px;
    padding: 16px 0 16px 24px;
    align-items: center;
}

.review-card-1-2 {
    background: rgba(139, 149, 158, 0.05);
    border-radius: 8px;
    padding: 16px 13px 16px 0;
    align-items: center;
}

.review-card-2-2 {
    border-radius: 8px;
    padding: 16px 13px 16px 0;
    align-items: center;
}

.review-card-txt-1 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #8B959E;
}

.review-card-txt-2 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #252525;
    display: block;
    white-space: nowrap;
}

.description {
    width: 690px;
}

.description-h2-big {
    font-family: Manrope;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #252525;
}

.description-h2 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #252525;
}

.description-span {
    font-family: Manrope;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    letter-spacing: 0%;
    color: #868686;
    display: block;
}

.description-a {
    font-family: Manrope;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #009661;
    padding-bottom: 120px;
    cursor: pointer;
}

.description-line {
    width: 100%;
    height: 1px;
    background: #E8E9E8;
}

.other-car-h2 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #252525;
    margin-top: 60px;
}

.other-car-cards {
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;
}

.other-car-card {
    background: #FFFFFF;
    border-radius: 8px;
}

.other-car-img-1 {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.other-car-card-h2 {
    font-family: Manrope;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #252525;
    margin: 0;
}

.other-car-card-content {
    padding: 16px;
}

.location-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location-info-mini {
    display: flex;
    align-items: center;
    gap: 8px;
}

.location-info-txt {
    font-family: Manrope;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #8B959E;
}

.location-info-txt-2 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: middle;
    color: #009661;
}

.footer {
    background: #1B1B1E;
    width: 100%;
}

.footer-line {
    border-width: 1px;
    width: 100%;
    background: #858586;
    height: 1px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 36px;
}

.footer-content-h2 {
    font-family: IBM Plex Sans;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 25%;
    vertical-align: middle;
    color: #FFFFFF;
    margin: 0;
}

.footer-content-p {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    opacity: 0.6;
    color: #FFFFFF;
}

.footer-content-h2-2 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    opacity: 0.6;
    color: #FFFFFF;
}

.footer-content-p-2 {
    font-family: Manrope;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #FFFFFF;
}


.footer-mini {
    border: 2px solid #858586;
    width: 100%;
    height: 56px;
}

.footer-mini-h2 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    opacity: 0.6;
    color: #FFFFFF;
    text-align: center;
}
