body {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1216px;
    margin: 0 auto;
}

.ibm-plex-sans-uniquifier {
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.manrope-uniquifier {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-h2 {
    font-family: IBM Plex Sans;
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #252525;
}

.language {
    border: 0;
    font-family: Manrope;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #252525;
}

.header-btn {
    width: 203px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 32px;
    gap: 10px;
    background: #009661;
    cursor: pointer;
    border: 0;
}

.header-btn-txt {
    font-family: Manrope;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: right;
    text-transform: uppercase;
    color: #ffffff;
}

.ah-h2 {
    font-family: Manrope;
    font-weight: 700;
    font-size: 45px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #252525;
}

.nav {
    display: flex;
    gap: 60px;
    align-items: center;
}

.nav-block {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: Manrope;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #252525;
    text-decoration: none;
    transition: all 0.2s ease;
    padding-bottom: 5px;
}

.nav-block:hover {
    border-bottom: 3px solid #009661;
}

.nav-txt {
    font-family: Manrope;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #252525;
    text-decoration: none;
}

.nav-txt-2 {
    font-family: Manrope;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #009661;
}

.main {
    background: #8B959E0D;
}

.options-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 29px;
}

.options-card-1 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #8B959E;
    text-decoration: none;
}

.options-card-btn-green {
    border-radius: 4px;
    padding: 2px 12px;
    cursor: pointer;
    border: none;
    background: #6C9F831A;
}

.options-card-btn-green-txt {
    font-family: Manrope;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #009661;
}

.options-card-btn-red {
    border-radius: 4px;
    padding: 2px 12px;
    background: #EB57571A;
    cursor: pointer;
    border: 0;
}

.options-card-btn-red-txt {
    font-family: Manrope;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #EB5757;
}

.full-card-car {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.full-card-car-imgs {
    display: grid;
    gap: 20px;
}

.full-card-car-img-little {
    display: flex;
    gap: 20px;
}

.full-card-car-info {
    background: #FFFFFF;
    padding: 5px 24px 24px 24px;
    height: 242px;
    border-radius: 8px;
}

.full-card-car-info-h2 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #252525;
}

.full-card-car-info-p {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #8B959E;
}

.full-card-car-info-line {
    background: #E8E9E8;
    width: 447px;
    height: 1px;
}

.full-card-car-info-minis {
    display: flex;
    justify-content: space-between;
}

.full-card-car-info-mini-h2 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #8B959E;
}

.full-card-car-info-mini-p {
    font-family: Manrope;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #252525;
    margin: 0;
}

.review-h2 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #252525;
    padding-top: 60px;
}

.review-cards {
    display: flex;
}

.review-card-1 {
    width: 285px;
    border-radius: 8px;
    background: rgba(139, 149, 158, 0.05);
    padding: 16px 0 16px 24px;
    align-items: center;
}

.review-card-2 {
    width: 285px;
    border-radius: 8px;
    padding: 16px 0 16px 24px;
    align-items: center;
}

.review-card-1-2 {
    background: rgba(139, 149, 158, 0.05);
    border-radius: 8px;
    padding: 16px 13px 16px 0;
    align-items: center;
}

.review-card-2-2 {
    border-radius: 8px;
    padding: 16px 13px 16px 0;
    align-items: center;
}

.review-card-txt-1 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #8B959E;
}

.review-card-txt-2 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #252525;
    display: block;
    white-space: nowrap;
}

.description {
    width: 690px;
}

.description-h2-big {
    font-family: Manrope;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #252525;
}

.description-h2 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #252525;
}

.description-span {
    font-family: Manrope;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    letter-spacing: 0%;
    color: #868686;
    display: block;
}

.description-a {
    font-family: Manrope;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #009661;
    padding-bottom: 120px;
    cursor: pointer;
}

.modal-card-overlay {
    background: rgba(37, 37, 37, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.hidden {
    display: none;
}

.modal-card {
    position: absolute;
    background: white;
    padding: 80px 100px;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    border: 1px solid #e1e8ed;
    text-align: center;
}

.modal-card-h2 {
    font-family: Manrope;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    color: #252525;
    margin: 0 0 48px 0;
}

.btn-back {
    background-color: #009661;
    color: white;
    border: none;
    padding: 16px 32px;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
}

.btn-back-txt {
    font-family: Manrope;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.btn-back-2 {
    border-radius: 4px;
    padding: 16px 32px;
    cursor: pointer;
    border: none;
    background: none;
}

.btn-back-txt-2 {
    font-family: Manrope;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: #009661;
}

.footer {
    background: #1B1B1E;
    width: 100%;
}

.footer-line {
    border-width: 1px;
    width: 100%;
    background: #858586;
    height: 1px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 36px;
}

.footer-content-h2 {
    font-family: IBM Plex Sans;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 25%;
    vertical-align: middle;
    color: #FFFFFF;
    margin: 0;
}

.footer-content-p {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    opacity: 0.6;
    color: #FFFFFF;
}

.footer-content-h2-2 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    opacity: 0.6;
    color: #FFFFFF;
}

.footer-content-p-2 {
    font-family: Manrope;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #FFFFFF;
}


.footer-mini {
    border: 2px solid #858586;
    width: 100%;
    height: 56px;
}

.footer-mini-h2 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    opacity: 0.6;
    color: #FFFFFF;
    text-align: center;
}

.settings-1 {
    width: 16px;
    height: 16px;
}
