body {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1216px;
    margin: 0 auto;
}

.ibm-plex-sans-uniquifier {
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.manrope-uniquifier {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-first {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-h2 {
    font-family: IBM Plex Sans;
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #009661;
}

.language {
    border: 0;
    font-family: Manrope;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #252525;
}

.header-txt {
    font-family: Manrope;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #252525;
    text-decoration: none;
}

.header-btns {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header-btn {
    font-family: Manrope;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-decoration: none;
    background: none;
    cursor: pointer;
    border: 0;
    color: #009661;
}

.header-btn-2 {
    border-radius: 4px;
    padding: 16px 32px;
    background: #4689660F;
    border: 0;
    cursor: pointer;
}

.header-btn-2-txt {
    font-family: Manrope;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #009661;
    text-decoration: none;
}

.main {
    background: #8B959E0D;
    text-align: center;
}

.full-form {
    display: flex;
    justify-content: center;
    padding-top: 90px;
}

.form {
    max-width: 418px;
    border-radius: 8px;
    background: #FFFFFF;
    padding: 60px 90px;
    text-align: center;
    width: 100%;
}

.form-contents {
    display: grid;
    padding-top: 48px;
    row-gap: 16px;
}

.form-content {
    display: block;
    text-align: left;
}

.form-title {
    font-family: Manrope;
    font-weight: 700;
    font-size: 45px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    color: #252525;
    margin: 0;
}

.form-content-input {
    padding: 16px 20px;
    border: 2px solid #E9E9E9;
    border-radius: 2px;
    outline: none;
    max-width: 375px;
    width: 100%;
}

.form-content-p {
    font-family: Manrope;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    margin: 0 0 8px 0;
}

.checkbox-class {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-top: 6px;
}

.checkbox-txt {
    font-family: Manrope;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #8B959E;
}

.form-btn {
    border-radius: 4px;
    padding: 16px 32px;
    cursor: pointer;
    border: 0;
    background: #009661;
    margin-top: 40px;
}

.form-btn-txt {
    font-family: Manrope;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.registration-question {
    display: flex;
    gap: 8px;
    padding-top: 32px;
    padding-bottom: 150px;
    justify-content: center;
}

.registration-question-span {
    font-family: Manrope;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #252525;
}

.registration-question-a {
    font-family: Manrope;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #009661;
    text-decoration: none;
}

.profile-menu {
    position: relative;
    display: inline-block;
    font-family: Arial, sans-serif;
}

.menu-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    min-width: 233px;
    box-shadow: 0px 10px 50px 0px #8B959E33;
    border-radius: 8px;
    z-index: 1;
    overflow: hidden;
}

.menu-content-a {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    color: #8B959E;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
}

.menu-content-a-green {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    color: #009661;
}

.menu-content-a:hover {
    background-color: #f5f7f8;
    color: #333;
}

.profile-menu:hover .menu-content {
    display: block;
}

.footer {
    background: #1B1B1E;
    width: 100%;
}

.footer-line {
    border-width: 1px;
    width: 100%;
    background: #858586;
    height: 1px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 36px;
}

.footer-content-h2 {
    font-family: IBM Plex Sans;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 25%;
    vertical-align: middle;
    color: #FFFFFF;
    margin: 0;
}

.footer-content-p {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    opacity: 0.6;
    color: #FFFFFF;
}

.footer-content-h2-2 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    opacity: 0.6;
    color: #FFFFFF;
}

.footer-content-p-2 {
    font-family: Manrope;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-mini {
    border: 2px solid #858586;
    width: 100%;
    height: 56px;
}

.footer-mini-h2 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    opacity: 0.6;
    color: #FFFFFF;
    text-align: center;
}
