body {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1216px;
    margin: 0 auto;
}

.ibm-plex-sans-uniquifier {
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.manrope-uniquifier {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-h2 {
    font-family: IBM Plex Sans;
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #252525;
}

.language {
    border: 0;
    font-family: Manrope;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #252525;
}

.header-btn {
    width: 203px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 32px;
    gap: 10px;
    background: #009661;
    cursor: pointer;
    border: 0;
}

.header-btn-txt {
    font-family: Manrope;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: right;
    text-transform: uppercase;
    color: #ffffff;
}

.ah-h2 {
    font-family: Manrope;
    font-weight: 700;
    font-size: 45px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #252525;
}

.nav {
    display: flex;
    gap: 60px;
    align-items: center;
}

.nav-block {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: Manrope;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #252525;
    text-decoration: none;
    transition: all 0.2s ease;
}

.nav-block:hover {
    border-bottom: 3px solid #009661;
    padding-bottom: 5px;
}

.nav-txt {
    font-family: Manrope;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #252525;
    text-decoration: none;
}

.nav-txt-2 {
    font-family: Manrope;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #009661;
}

.main {
    background: #8B959E0D;
}

.used-ad-txts {
    display: flex;
    padding: 48px 0px;
}

.used-ad-h2 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #252525;
    margin: 0;
    margin-right: 10px;
}

.used-ad-p {
    font-family: Manrope;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #009661;
    margin: 0;
}

.input-first {
    display: flex;
    gap: 8px;
}

.input-all {
    padding: 8px 0px;
    padding-left: 32px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
}

.input-class {
    outline: none;
    border: 0;
    font-family: Manrope;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #8B959E;
    background: none;
}

.btn-input {
    border-radius: 8px;
    padding: 16px 32px;
    background: #0096611A;
    border: 0;
    cursor: pointer;
}

.btn-input-txts {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn-input-txt {
    font-family: Manrope;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #009661;
}

.btn-input-txt-2 {
    font-family: Manrope;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #009661;
}

.car-cards {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.car-card {
    padding: 16px;
    border-radius: 8px;
    background: #FFFFFF;
    max-width: 360px;
}

.car-card-h2 {
    font-family: Manrope;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #8B959E;
}

.car-card-p {
    font-family: Manrope;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #252525;
}

.car-card-mini-info {
    padding: 2px 8px;
    background: #8B959E0D;
    border-radius: 4px;
}

.car-card-mini-info-h2 {
    font-family: Manrope;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #252525;
    margin: 0;
}

.car-card-line {
    height: 1px;
    width: 100%;
    background: #E8E9E8;
    margin-top: 24px;
}

.car-card-minis-info {
    display: flex;
    gap: 10px;
}

.location-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location-info-mini {
    display: flex;
}

.location-info-txt {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #8B959E;
}

.location-info-txt-2 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: middle;
    color: #252525;
}

.car-btn-class {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 120px;
}

.car-btn {
    border-radius: 4px;
    padding: 16px 32px;
    background: #009661;
    cursor: pointer;
    border: 0;
}

.car-btn-txt {
    font-family: Manrope;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer {
    background: #1B1B1E;
    width: 100%;
}

.footer-line {
    border-width: 1px;
    width: 100%;
    background: #858586;
    height: 1px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 36px;
}

.footer-content-h2 {
    font-family: IBM Plex Sans;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 25%;
    vertical-align: middle;
    color: #FFFFFF;
    margin: 0;
}

.footer-content-p {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    opacity: 0.6;
    color: #FFFFFF;
}

.footer-content-h2-2 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    opacity: 0.6;
    color: #FFFFFF;
}

.footer-content-p-2 {
    font-family: Manrope;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #FFFFFF;
}


.footer-mini {
    border: 2px solid #858586;
    width: 100%;
    height: 56px;
}

.footer-mini-h2 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    opacity: 0.6;
    color: #FFFFFF;
    text-align: center;
}
